langchain
langchain-openai
langchain_google_genai
langchain-core
langchain_community
dotenv
docx2txt
pypdf
langchain_chroma
redis
python-multipart
fastapi
uvicorn
streamlit
faiss-cpu
tiktoken
transformers
sentencepiece
rank_bm25
neo4j
PyPDF2
